.header {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.logo-profil{
    border-radius: 50px;
    height: 80px;
    width: 80px;
    margin-left: 60px;
    margin-top: -10px;
}

/* RESPONSIVE CSS */
@media screen and (max-width: 992px) {
    .logo-profil{
        border-radius: 50px;
        height: 40px;
        width: 40px;
        margin-left: 60px;
        margin-top: 10px;
    }
}

/* RESPONSIVE CSS */
@media screen and (max-width: 680px) {
    .header {
        padding-top: 0px;
    }
    .logo-profil{
        display: none;
    }
}
    