.header {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}


.logo-profil{
    border-radius: 50px;
    height: 80px;
    width: 80px;
    margin-left: 60px;
    margin-top: -10px;
    position: fixed;
    background:#0ef ;
    box-shadow: 0 0 20px #0ef;
}

.logo-profil:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}


/* RESPONSIVE CSS */
@media screen and (max-width: 992px) {
    .logo-profil{
        border-radius: 50px;
        height: 60px;
        width: 60px;
        margin-left: 20px;
        margin-top: 10px;
    }
}

/* RESPONSIVE CSS */
@media screen and (max-width: 680px) {
    .header {
        padding-top: 10px;
    }
   
}
    