.competence{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
p{    
    color: white;
}
h3{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #a27d5c;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    margin-bottom: 30px;
}
.container-competence{
    width: 100%;
}
.container-skills-tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    gap: 20%;
}
.content{
    width: 80%;
    margin:10px 50px 50px 50px ;
}
.icone-skills{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-bottom: 2%;
}
.style-icone-skill{
    font-size: 600%;
}
.style-icone-skill:hover{
    scale: 1.35;
}
.icone-html{
    color: rgb(129, 46, 4);
}
.icone-javascript,
.icone-css{
    color:#dfdc0b;
}
.icone-sass{
    color: #7e0c53;
}
.icone-react{
    color: #305b8e;
}
.icone-node,
.icone-spring-boot{
    color: rgb(6, 125, 55);
}
.icone-mysql{
    height: 45px;
    width: 45px;
}
.icone-vscode{
    color: #305b8e;
}
.icone-github,
.icone-data{
    background-color: white;
    border-radius: 50%;
}


/* RESPONSIVE CSS */
@media screen and (max-width: 680px) {
   
    h3{
        font-size: 20px;
    }
    .container-skills-tools{
        padding-top: 90px;
        gap: 15%;
    }
    .icone-skills{
        padding: 0;
        margin-top: 50px;
    }
    .style-icone-skill{
        font-size: 180%;
        flex-wrap: wrap;
    }
    .style-icone-skill:hover{
        scale: 1.15;
    }
}