.competence{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background-color: #071526;
    font-family: 'Montserrat', sans-serif;
}
p,
h3{    
    color: white;
}
h3{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
}
.container-competence{
    width: 100%;
}
.container-skills-tools{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 120px;
    gap: 10%;
}
.content{
    height: 300px;
    display: flex;
    width: 30%;
    height: 50vh;
    flex-direction: column;
    gap:5%;
    border-radius: 25px;
    border:solid #0ef 5px;
    padding:10px 50px 50px 50px ;
}
.icone-skills{
    display: flex;
    gap: 1%;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.style-icone-skill{
    font-size: 400%;
}
.style-icone-skill:hover{
    scale: 1.35;
}
.icone-html{
    color: rgb(129, 46, 4);
}
.icone-javascript,
.icone-css{
    color:#dfdc0b;
}
.icone-sass{
    color: #7e0c53;
}
.icone-react{
    color: #305b8e;
}
.icone-node,
.icone-spring-boot{
    color: rgb(6, 125, 55);
}
.icone-mysql{
    height: 45px;
    width: 45px;
}
.icone-vscode{
    color: #305b8e;
}
.icone-github,
.icone-data{
    background-color: white;
    border-radius: 50%;
}


/* RESPONSIVE CSS */
@media screen and (max-width: 680px) {
    .competence{
        height: auto;
    }
    .content{
        border: none;
        width: 80%;
        height: 300px;
        gap: 10px;
        padding:0px 30px 50px 30px;
    }
    .container-skills-tools{
        flex-direction: column;
        align-items: center;
    }

    .style-icone-skill{
        font-size: 180%;
        flex-wrap: wrap;
    }
    .style-icone-skill:hover{
        scale: 1.15;
    }
}