.competance{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(4, 4, 64);
    height: 100vh;
}
p{    
    color: rgb(233, 221, 221);
}

.container-skill{
    padding: 60px;
}