.container-contact {
    background-color: rgb(4, 4, 64);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact {
    color: white;
    z-index: 1;
}