.container-contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: rgb(4, 4, 64); */
    background-image:url(../assets/mer.webp) ;
    background-size: cover;
    background-position: center;
    
}

.contact {
    color: white;
    z-index: 1;
}
