.container-contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image:url(../assets/mer.webp) ;
    background-size: cover;
    background-position: center;
}

.contact {
    color: white;
    z-index: 1;
}

/* RESPONSIVE CSS */
@media screen and (max-width: 1024px) {
    .container-contact {
        height: auto;
    }
}