footer{
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: rgb(12, 11, 12);
    width: 100%;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
}

.text-footer{
    padding: 12px 0 10px 0;
}
/* RESPONSIVE CSS */
@media screen and (max-width: 680px) {
    .text-footer{
        font-size: 12px;
    }
}