.content-form-contact{
    background-color:rgba(11, 11, 12, 0.7) ;
    width: 40%;
    padding:40px 20px 20px 20px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    gap: 20%;
}
.form-contact{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}
form input{
    height: 30px;
    width: 250px;
    border: 20% ;
}
form textarea{
    height: 150px;
    width: 250px;
}
.title-contact{
    color: white;
    font-size: 56px;
    font-weight: 700;
}
.text-contact{
    font-size:22px ;
    padding-bottom: 20px;
}
.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-contact i{
    color: white;
    font-size: 150%;
    padding: 2%;
   
}
.info-contact{
    padding-top: 100px;
}
.text-info-contact{
    padding-bottom: 5px;
}
.btn-message{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 28px ;
    background: rgb(4, 83, 89);
    border-radius: 40px;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
}

.btn-message:hover{
    box-shadow: 0 0 5px rgb(21, 143, 143),
    0 0 5px rgb(21, 143, 143), 0 0 10px rgb(21, 143, 143),
    0 0 20px rgb(21, 143, 143), 0 0 30px rgb(21, 143, 143);
}

.icone-form{
    display: flex;
    justify-content: center;
}


/* RESPONSIVE CSS */
@media screen and (max-width: 1024px) {
    .content-form-contact{
        padding: 30px;
        gap: 5%;
    }
    
    form input{
        height: 30px;
        width: 200px;
        border: 20% ;
    }
    form textarea{
        height: 120px;
        width: 200px;
    }
    .title-contact{
        font-size: 36px;
    }
    .text-contact{
        font-size:16px ;
        padding-bottom: 30px;
    }
   
    .info-contact i{
        font-size: 120%;
    }
    .info-contact{
        padding-top: 100px;
    }
}

/* RESPONSIVE CSS */
@media screen and (max-width: 680px) {
    .content-form-contact{
        flex-direction: column;
        align-items: center;
        width: 70%;
        border-radius: 5%;
    }
    
    .title-contact{
        font-size: 36px;
    }
    .text-contact{
        font-size:11px ;
        font-weight: 500;
        padding-bottom: 20px;
    }
    form input{
        width: 250px;
    }
    form textarea{
        height: 180px;
        width: 250px;
    }
   
    .info-contact{
        padding-top: 40px;
       
    }
    .text-form{
        font-size: 14px;
    }
}
