* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit ;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  background-color: var(--font-color);
  font-family: 'Montserrat', sans-serif;
  min-width: 340px;
  max-width: 1900px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --font-color :rgb(234 233 230);
  --color-grey : rgb(71, 80, 84);
  --color-green :rgb(88, 6, 29);
  --color-green-clear: rgb(151, 75, 104);
}
img {
  object-fit:cover;
  width: 100%;
 }
p{
  color: black;
}
h2{
  color: var(--color-grey);
  font-size: 56px;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 680px) {
  a{
    font-size: 14px;
  }
}