
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'poppins' , sans-serif;
  font: inherit ;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  background-color: var(--font-color);
  min-width: 320px;
  max-width: 1900px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --font-color :white;
  --color-grey : rgb(77, 88, 93);
}
img {
  object-fit:cover;
  width: 100%;
 }


a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 680px) {
  a{
    font-size: 14px;
  }
}