.container-profil{
    height: 100vh;
    background-color: var(--font-color);
    font: inherit ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}
 .profil{
    margin-top: 50px;
 }

.title-profil{
    text-align: center;
    margin-top: 60px;
}

.contenu-profil p{
    color: black;
    padding-top: 30px;
    display: block;
    font-size: 20px;
    width: 65%;
    text-align: justify;
}
.contenu-profil{
    display: flex;
    gap: 50px;
    background-color: var(--font-color);
    margin: 100px 100px 0 100px;
}

.photo-profil {
    width: 30%;
    height: auto;
    object-fit:cover;
}
.profil .liste,
.profil .liste-responsive   {
    background-color: rgb(45, 45, 55);
}

.profil .btn {
    color: black;
}

/* RESPONSIVE CSS */

@media screen and (max-width: 1024px) {
    .contenu-profil{
        margin: 0;
        padding: 50px 20px 0px 20px ;
        gap: 20px;
    }
   
    .profil{
        padding-top: 100px;
    }

}

/* RESPONSIVE CSS */
@media screen and (max-width: 720px) {
    .container-profil{
        height: auto;
    }
    .photo-profil,
    .contenu-profil p{
        color: black;
        padding-top: 0px;
        width: 80%;
    }
    .photo-profil{
        height: 30%;
    }
    .contenu-profil{
        flex-direction: column;
        align-items: center;       
    }

    h2{
        font-size: 34px;
    }
    .profil{
        padding-top: 0px;
        padding-bottom: 50px;
    }
}
