.card-project,
.description-project{
    background-color: rgb(235, 237, 242);
    height :300px;
    border-radius:20px;
    box-shadow: 0 0 5px rgb(99, 99, 99),
    0 0 10px rgb(99, 99, 99),
    0 0 15px rgb(99, 99, 99);
    animation: projectRight 1s ease ;
}

.img-project{
    width: 100%;
    height: 70%;
    object-fit: fill;
    border-radius:20px 20px 0 0;
}

.title-card{
    color: var(--color-grey);
    font-size: 36px;
    font-weight: 600;
    padding-left: 15px;
}
.text-project{
    padding: 20px;
    font-size: 18px;
}
.title-description{
    text-align: center;
    margin: 20px;
}
.content-btn{
 display: flex;
 justify-content: end;
 margin-right: 10px;
}
.btn-project i {
    color: white;
}

.btn-project{
    margin-left: 5px;
    padding: 5px 8px ;
    background:  rgb(77, 88, 93);
    border-radius: 40px;
    font-size: 11px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.btn-project:hover{
    box-shadow: 0 0 5px rgb(99, 113, 119),
    0 0 10px rgb(99, 113, 119),0 0 5px rgb(99, 113, 119);
}

/* RESPONSIVE CSS */
@media screen and (max-width: 1200px) {
    .title-card,
    .title-description{
        font-size: 32px;
        font-weight: 500;
        padding-left: 15px;
    }
}
@media screen and (max-width: 760px) {
    .card-project{
        height: 260px;
    }
}

/* KEYFRAMES ANIMATION */

@keyframes projectRight {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}