.skill p{
    color: rgb(249, 240, 240);
    display: block;
}

.skill{
    display: flex;
    flex-direction: column;
}
.info{
    display: flex;
    justify-content: space-between;
    
}
.bar{
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(6, 67, 67 0.1);
    margin-top: 10px;
    position: relative;
}
.bar span{
    /* width: 50%; */
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 5px;
    background-color: #0ef;
    box-shadow: 0 0 5px #0ef;
}
.HTML{
    width: 85%;
    animation: html 3s;
}
.CSS{
    width: 85%;
    animation: CSS 3s;
}
.Javascript{
    width: 70%;
    animation: Javascript 3s;
}
.React{
    width: 70%;
    animation: React 3s;
}
.Node {
    width: 65%;
    animation: Node 3s;
}
.VS{
    width: 92%;
    animation: VS 3s;
}
.Github{
    width: 85%;
    animation: Github 3s;
}
.Postman {
    width: 65%;
    animation: Postman 3s;
}
.MongoDB {
    width: 60%;
    animation: MongoDB 3s;
}
.Figma {
    width: 75%;
    animation: Figma 3s;
}
.Trello{
    width: 85%;
    animation: Trello 3s;
}
.Java{
    width: 20%;
    animation: Java 3s;
}
/* RESPONSIVE CSS */
@media screen and (max-width: 680px) {


}

/* Animation */

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes CSS {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes Javascript{
    0%{
        width: 0%;
    }
    100%{
        width:70%;
    }
}
@keyframes Node{
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}
@keyframes React {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes VS {
    0%{
        width: 0%;
    }
    100%{
        width: 92%;
    }
}
@keyframes Github{
    0%{
        width: 0%;
    }
    100%{
        width:85%;
    }
}
@keyframes Postman{
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}
@keyframes  MongoDB{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes Figma{
    0%{
        width: 0%;
    }
    100%{
        width:75%;
    }
}
@keyframes Trello{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes Java{
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
}