.skill p{
    color: rgb(249, 240, 240);
    display: block;
}

.skill{
    display: flex;
    flex-direction: column;
}
.info{
    display: flex;
    justify-content: space-between;
}
.bar{
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(6, 67, 67 0.1);
    margin-top: 10px;
    position: relative;
}
.bar span{
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 5px;
    background-color: #0ef;
    box-shadow: 0 0 5px #0ef;
}
.HTML{
    width: 85%;
    animation: html-css-trello-github 3s;
}
.CSS{
    width: 85%;
    animation: html-css-trello-github 3s;
}
.Javascript{
    width: 70%;
    animation: Javascript-React 3s;
}
.React{
    width: 70%;
    animation: Javascript-React 3s;
}
.Node {
    width: 65%;
    animation: node-postman 3s;
}
.VS{
    width: 92%;
    animation: VS 3s;
}
.Github{
    width: 85%;
    animation: html-css-trello-github 3s;
}
.Postman {
    width: 65%;
    animation: node-postman 3s;
}
.MongoDB {
    width: 60%;
    animation: MongoDB 3s;
}
.Figma {
    width: 75%;
    animation: Figma 3s;
}
.Trello{
    width: 85%;
    animation: html-css-trello-github 3s;
}

/* Animation */

@keyframes html-css-trello-github {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}

@keyframes Javascript-React{
    0%{
        width: 0%;
    }
    100%{
        width:70%;
    }
}
@keyframes node-postman{
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}

@keyframes VS {
    0%{
        width: 0%;
    }
    100%{
        width: 92%;
    }
}

@keyframes  MongoDB{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes Figma{
    0%{
        width: 0%;
    }
    100%{
        width:75%;
    }
}