.skill p{
    color: rgb(249, 240, 240);
    display: block;
}

.skill{
    display: flex;
    flex-direction: column;
}
.info{
    display: flex;
    justify-content: space-between;
}
.bar{
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(6, 67, 67 0.1);
    margin-top: 10px;
    position: relative;
}
.bar span{
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 5px;
    background-color: #0ef;
    box-shadow: 0 0 5px #0ef;
}
.HTML5{
    width: 95%;
    animation: html-css-trello-github 3s;
}
.CSS3-Bootstrap5-SASS{
    width: 95%;
    animation: html-css-trello-github 3s;
}
.Javascript{
    width: 80%;
    animation: Javascript-React 3s;
}
.React{
    width: 80%;
    animation: Javascript-React 3s;
}
.Node {
    width: 70%;
    animation: node 3s;
}
.VS,
.Eclipse{
    width: 95%;
    animation: VS 3s;
}
.Github{
    width: 95%;
    animation: html-css-trello-github 3s;
}
.Postman {
    width: 85%;
    animation: postman 3s;
}
.MongoDB {
    width: 80%;
    animation: MongoDB 3s;
}
.MySQL {
    width: 75%;
    animation: MySQL 3s;
}
.Spring{
    width: 65%;
    animation:  spring 3s;
}
/* Animation */

@keyframes html-css-trello-github {
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
}

@keyframes Javascript-React{
    0%{
        width: 0%;
    }
    100%{
        width:80%;
    }
}
@keyframes node{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes postman{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes VS {
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
}

@keyframes  MongoDB{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes MySQL{
    0%{
        width: 0%;
    }
    100%{
        width:75%;
    }
}
@keyframes spring{
    0%{
        width: 0%;
    }
    100%{
        width:65%;
    }
}
