.link-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--color-green);
    border-radius: 50%;
    font-size: 30px;
    color:var(--color-green);
    margin: 30px 15px 30px 0;
}

.link-social i {
    color: var(--color-green);
}

.link-social i:hover{
    color: white
}

.link-social a:hover{
    background:var(--color-green);
    box-shadow: 0 0 20px var(--color-green);
}

.btn-cv{
    display: inline-block;
    margin-top: 10px;
    padding: 12px 28px ;
    background: var(--color-green);
    border-radius: 40px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700;
}

.btn-cv:hover{
    box-shadow: 0 0 20px var(--color-green);
}
.container-icone i{
    font-size:500% ;
    color: rgb(63, 63, 63);
    margin-bottom: 20px;
    animation: rotate 10s linear infinite; 
}
.container-icone span{
    font-weight: 700;
}
.container-icone{
    display: flex;
    gap: 200px;
}
/* Animatio */
@keyframes rotate{
    to{ transform: rotate(360deg); }
  }

  /* RESPONSIVE CSS */
@media screen and (max-width: 780px) {
    .container-icone{
        display: flex;
        gap: 50px;
    }
    .container-icone i{
        font-size:300% ;
        margin-bottom: 20px;
    }
    .btn-cv{
        padding: 10px 10px ;
        font-size: 12px;
    }
}